.App {
  text-align: center;
}

.ticket {
  border: solid 5px black
}

#main {
  width: 100vw;
  display: flex;
  justify-content: space-around
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

#ticketList{
  height: 50vh;
  overflow-y: auto;
  border: solid 5px black
}
